*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font-family: "Rubic", sans-serif;
  overflow-x: hidden;
}
.hero {
  width: 100vw;
}
header {
  width: 100vw;
  height: 90vh;
  background-image: url(./Assets/hero.jpeg);
  /* background-color: blue; */
  background-size: cover;
}
.nav {
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
  height: 7.4rem;
  width: 100%;
}
.nav-logo {
  background-image: url(./Assets/hulu-logo.svg);
  height: 2.4rem;
  width: 6.1rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-login {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  color: #a8afbd;
  padding: 0 1.6rem;
}
.nav-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 8rem;
  text-align: center;
}
.card {
  width: 40rem;
}
.nav-card_title {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #00ed82;
  margin-bottom: 2rem;
}
.nav-card_price {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.24;
  color: #fff;
  margin-top: 1rem;
}
.nav-card_CTA {
  text-decoration: none;
  padding: 1rem 9rem;
  color: #333;
  background-color: #00ed82;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.4rem;
}
.nav-card_img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.nav-card_imgdiv {
  width: 60%;
  align-items: center;
  margin: 0 auto;
}
.terms,
.signup {
  display: block;
  text-align: center;
  margin: 20px auto;
  color: #fff;
}

.terms {
  font-size: 1.5rem;
}
.signup {
  font-size: 2rem;
}
.header-continue {
  width: 100%;
  height: 18rem;
  background: linear-gradient(180deg, #29a869 0.66%, #16181d 99.34%);
  text-align: center;
}
.header-continue h1 {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  color: #fff;
  padding-top: 2rem;
  text-transform: uppercase;
}
.header-continue a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 8rem;
  border: 2px solid #fff;
  font-size: 1.8rem;
  color: #fff;
}
/*     */

main {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.main-title_subheading {
  color: #00ed82;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  padding-top: 7rem;
}
.main-title_heading {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}
.main-title_explanation {
  font-size: 2rem;
  padding-bottom: 2.5rem;
  width: 55%;
  margin: 0 auto;
}
.main-cards {
  display: flex;
  justify-content: space-around;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
.main-card {
  height: 44.5rem;
  width: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
}
.c1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Assets/fguy.png");
  background-size: contain;
}
.c2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Assets/prey.jpeg");
}
.c3 {
  background-image: url(./Assets/M-Building.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Assets/M-Building.png");
}
.c4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Assets/sopranos.png");
}
.main-card p {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-card h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-footer_link {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 2.5rem;
  background-color: #00ed82;
  color: #000;
  text-decoration: none;
  border-radius: 7px;
  text-transform: uppercase;
  display: inline-block;
}
.main-footer_pricing {
  font-size: 1rem;
  padding-top: 2rem;
  color: #a8afbd;
  width: 54%;
  margin: 0 auto;
}
.main-footer_pricinglink {
  color: #a8afbd;
}
.channels-link {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 9rem;
}
